<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-1">Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Preprocessing-the-extracted-columns" data-toc-modified-id="Preprocessing-the-extracted-columns-1.1">Preprocessing the extracted columns</a></span></li><li><span><a href="#Concatenating-Databases" data-toc-modified-id="Concatenating-Databases-1.2">Concatenating Databases</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#No-need-of-this-section" data-toc-modified-id="No-need-of-this-section-1.2.0.1">No need of this section</a></span></li></ul></li></ul></li><li><span><a href="#Adding-categorical-columns" data-toc-modified-id="Adding-categorical-columns-1.3">Adding categorical columns</a></span></li></ul></li></ul></div>

Analysis: - Attitude towards the church in Chile

In [1]:
import pandas as pd

# Data Preprocessing

In [9]:
data = pd.read_csv('data_from_sas_2018.csv')
data.head()

,NUMINVES,IDENPA,NUMENTRE,REG,CIUDAD,TAMCIUD,COMDIST,EDAD,SEXO,CODENC,...,S24,S25,S26,S27,REEDUC_1,REEDUC_2,REEDAD,PERPART,FAMPART,WT
0,2018.0,32.0,320001.0,32301.0,32001001.0,7.0,1.0,46.0,2.0,46.0,...,19711105.0,1.0,4.0,1.0,1.0,2.0,3.0,2.0,30.0,1.496
1,2018.0,32.0,320002.0,32301.0,32001001.0,7.0,1.0,79.0,2.0,46.0,...,19380824.0,2.0,3.0,1.0,1.0,1.0,4.0,2.0,30.0,1.496
2,2018.0,32.0,320003.0,32301.0,32001001.0,7.0,1.0,22.0,1.0,46.0,...,19950831.0,1.0,3.0,1.0,3.0,2.0,1.0,2.0,30.0,0.952
3,2018.0,32.0,320004.0,32301.0,32001001.0,7.0,1.0,72.0,2.0,46.0,...,19460221.0,1.0,3.0,1.0,1.0,0.0,4.0,1.0,30.0,1.496
4,2018.0,32.0,320005.0,32301.0,32001001.0,7.0,1.0,29.0,2.0,46.0,...,19890109.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,30.0,0.952

In [10]:
 data = data.rename(columns={"NUMINVES":"year","IDENPA":"country","EDAD":"age","SEXO":"gender","S26":"economic_status","P15STGBSC_C":"trust_church","P15STGBSC_F":"trust_judiciary","P11STGBS":"trust_people","P12STGBS":"support_democracy"})

In [14]:
data = data[['year','country','age','gender','economic_status','trust_church','trust_judiciary','trust_people','support_democracy']]

In [15]:
data['country'] = data['country'].replace([32,68,76,152,170,188,214,218,222,320,340,484,558,591,600,604,724,858,862],['Argentina','Bolivia','Brasil','Chile','Colombia','Costa Rica','Rep.Dominicana','Ecuador','El Salvador','Guatemala','Honduras','Mexico','Nicaragua','Panama','Paraguay','Peru','Espana','Uruguay','Venezuela'])
data

<ipython-input-15-05899fa45ee7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['country'] = data['country'].replace([32,68,76,152,170,188,214,218,222,320,340,484,558,591,600,604,724,858,862],['Argentina','Bolivia','Brasil','Chile','Colombia','Costa Rica','Rep.Dominicana','Ecuador','El Salvador','Guatemala','Honduras','Mexico','Nicaragua','Panama','Paraguay','Peru','Espana','Uruguay','Venezuela'])

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2018.0,Argentina,46.0,2.0,4.0,2.0,4.0,2.0,3.0
1,2018.0,Argentina,79.0,2.0,3.0,3.0,4.0,2.0,1.0
2,2018.0,Argentina,22.0,1.0,3.0,2.0,2.0,2.0,2.0
3,2018.0,Argentina,72.0,2.0,3.0,1.0,2.0,2.0,2.0
4,2018.0,Argentina,29.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
20199,2018.0,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0
20200,2018.0,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0
20201,2018.0,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0
20202,2018.0,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0
20203,2018.0,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0

In [16]:
data = pd.read_spss('Latinobarometro_2015_Eng.sav')
data.head()

,NUMINVES,IDENPA,NUMENTRE,REG,CIUDAD,TAMCIUD,COMDIST,CODIGO,DIAREAL,MESREAL,...,Q2.D,Q2.E,Q3,REEDUC_1,REEDUC_2,REEDUC_3,REEDAD,PERPART,FAMPART,WT
0,2015,Argentina,1.0,AR: Pampeana/Buenos Aires,AR: Buenos Aires-Gran Buenos Aires,100001 and more,1.0,111.0,29.0,January,...,NaN,NaN,No reaction with respect to duration,Higher incomplete,Primary complete,Primary complete,26-40,Opposition,Social Democrat parties,1.096381
1,2015,Argentina,2.0,AR: Pampeana/Buenos Aires,AR: Buenos Aires-Gran Buenos Aires,100001 and more,1.0,111.0,25.0,January,...,NaN,NaN,No reaction with respect to duration,Higher complete,"Secundary, intermediate, vocational complete",NaN,41-60,Governing,Social Democrat parties,1.096381
2,2015,Argentina,3.0,AR: Pampeana/Buenos Aires,AR: Buenos Aires-Gran Buenos Aires,100001 and more,1.0,111.0,30.0,January,...,NaN,NaN,No reaction with respect to duration,"Secundary, intermediate, vocational incomplete",Primary complete,NaN,41-60,No party mentioned,"No party mentioned (Null vote/white, No vote/n...",0.710247
3,2015,Argentina,4.0,AR: Pampeana/Buenos Aires,AR: Buenos Aires-Gran Buenos Aires,100001 and more,1.0,111.0,30.0,January,...,NaN,NaN,No reaction with respect to duration,Primary complete,Primary complete,Primary complete,41-60,Opposition,Social Democrat parties,1.433498
4,2015,Argentina,5.0,AR: Pampeana/Buenos Aires,AR: Buenos Aires-Gran Buenos Aires,100001 and more,1.0,111.0,30.0,January,...,NaN,NaN,No reaction with respect to duration,Primary complete,Primary complete,NaN,61 and more,Governing,Social Democrat parties,1.433498

In [17]:
 data = data.rename(columns={"NUMINVES":"year","IDENPA":"country","S13":"age","S12":"gender","S29":"economic_status","P16ST.E":"trust_church","P16ST.H":"trust_judiciary","P15STGBS":"trust_people","P11STGBS":"support_democracy"})

In [18]:
data = data[['year','country','age','gender','economic_status','trust_church','trust_judiciary','trust_people','support_democracy']]

In [19]:
data

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2015,Argentina,27.0,Female,Good,Some,A little,One can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,2015,Argentina,59.0,Female,Good,Some,Some,Most people can be trusted,Democracy is preferable to any other kind of g...
2,2015,Argentina,60.0,Male,Good,Some,A little,One can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,2015,Argentina,53.0,Female,Good,Lot,A little,One can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,2015,Argentina,74.0,Male,Good,Some,A little,One can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...
20245,2015,Honduras,20.0,Male,Average,Lot,No trust,One can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20246,2015,Honduras,22.0,Male,Very good,Lot,A little,One can never be too careful when dealing with...,"For people like me, it doesnâ€™t matter whether ..."
20247,2015,Honduras,24.0,Female,Average,Lot,Lot,One can never be too careful when dealing with...,"For people like me, it doesnâ€™t matter whether ..."
20248,2015,Honduras,60.0,Female,Average,Lot,Some,Most people can be trusted,Democracy is preferable to any other kind of g...
20249,2015,Honduras,62.0,Female,Average,Lot,NaN,One can never be too careful when dealing with...,NaN

## Preprocessing the extracted columns

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data_1996_corrected.csv')

In [3]:
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,Female,Not bad,Little confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1996,Argentina,20.0,Male,Good,Little confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1996,Argentina,61.0,Male,Good,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1996,Argentina,64.0,Female,Not bad,Little confidence,No confidence at all,You can trust most people,"For people like me, it does not matter whether..."
4,4,1996,Argentina,36.0,Female,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...,...
21195,21195,1996,Venezuela,20.0,Male,Good,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
21196,21196,1996,Venezuela,25.0,Male,Good,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,NaN
21197,21197,1996,Venezuela,33.0,Male,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
21198,21198,1996,Venezuela,25.0,Female,Good,A lot of confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
21199,21199,1996,Venezuela,20.0,Male,Good,Some confidence,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...

In [4]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,Not bad,Little confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1996,Argentina,20.0,1.0,Good,Little confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1996,Argentina,61.0,1.0,Good,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1996,Argentina,64.0,2.0,Not bad,Little confidence,No confidence at all,You can trust most people,"For people like me, it does not matter whether..."
4,4,1996,Argentina,36.0,2.0,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...,...
21195,21195,1996,Venezuela,20.0,1.0,Good,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
21196,21196,1996,Venezuela,25.0,1.0,Good,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,NaN
21197,21197,1996,Venezuela,33.0,1.0,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
21198,21198,1996,Venezuela,25.0,2.0,Good,A lot of confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
21199,21199,1996,Venezuela,20.0,1.0,Good,Some confidence,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...

In [5]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,3.0,Little confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1996,Argentina,20.0,1.0,2.0,Little confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1996,Argentina,61.0,1.0,2.0,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1996,Argentina,64.0,2.0,3.0,Little confidence,No confidence at all,You can trust most people,"For people like me, it does not matter whether..."
4,4,1996,Argentina,36.0,2.0,2.0,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [6]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,3.0,3.0,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1996,Argentina,20.0,1.0,2.0,3.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1996,Argentina,61.0,1.0,2.0,3.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1996,Argentina,64.0,2.0,3.0,3.0,No confidence at all,You can trust most people,"For people like me, it does not matter whether..."
4,4,1996,Argentina,36.0,2.0,2.0,4.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [7]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,3.0,3.0,2.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1996,Argentina,20.0,1.0,2.0,3.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1996,Argentina,61.0,1.0,2.0,3.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1996,Argentina,64.0,2.0,3.0,3.0,4.0,You can trust most people,"For people like me, it does not matter whether..."
4,4,1996,Argentina,36.0,2.0,2.0,4.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [16]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','Dont know/No answer','Not asked'],[1,2,-2,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,3.0,3.0,2.0,2.0,1
1,1,1996,Argentina,20.0,1.0,2.0,3.0,4.0,2.0,1
2,2,1996,Argentina,61.0,1.0,2.0,3.0,3.0,2.0,1
3,3,1996,Argentina,64.0,2.0,3.0,3.0,4.0,1.0,3
4,4,1996,Argentina,36.0,2.0,2.0,4.0,4.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...
21195,21195,1996,Venezuela,20.0,1.0,2.0,1.0,3.0,2.0,1
21196,21196,1996,Venezuela,25.0,1.0,2.0,1.0,4.0,2.0,NaN
21197,21197,1996,Venezuela,33.0,1.0,2.0,4.0,4.0,2.0,"Under some circumstances, an authoritarian gov..."
21198,21198,1996,Venezuela,25.0,2.0,2.0,1.0,2.0,2.0,1
21199,21199,1996,Venezuela,20.0,1.0,2.0,2.0,3.0,1.0,1

In [18]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,3.0,3.0,2.0,2.0,1.0
1,1,1996,Argentina,20.0,1.0,2.0,3.0,4.0,2.0,1.0
2,2,1996,Argentina,61.0,1.0,2.0,3.0,3.0,2.0,1.0
3,3,1996,Argentina,64.0,2.0,3.0,3.0,4.0,1.0,3.0
4,4,1996,Argentina,36.0,2.0,2.0,4.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
21195,21195,1996,Venezuela,20.0,1.0,2.0,1.0,3.0,2.0,1.0
21196,21196,1996,Venezuela,25.0,1.0,2.0,1.0,4.0,2.0,NaN
21197,21197,1996,Venezuela,33.0,1.0,2.0,4.0,4.0,2.0,2.0
21198,21198,1996,Venezuela,25.0,2.0,2.0,1.0,2.0,2.0,1.0
21199,21199,1996,Venezuela,20.0,1.0,2.0,2.0,3.0,1.0,1.0

In [21]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1996,Argentina,56.0,2.0,3.0,3.0,2.0,2.0,1.0
1,1996,Argentina,20.0,1.0,2.0,3.0,4.0,2.0,1.0
2,1996,Argentina,61.0,1.0,2.0,3.0,3.0,2.0,1.0
3,1996,Argentina,64.0,2.0,3.0,3.0,4.0,1.0,3.0
4,1996,Argentina,36.0,2.0,2.0,4.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
21195,1996,Venezuela,20.0,1.0,2.0,1.0,3.0,2.0,1.0
21196,1996,Venezuela,25.0,1.0,2.0,1.0,4.0,2.0,NaN
21197,1996,Venezuela,33.0,1.0,2.0,4.0,4.0,2.0,2.0
21198,1996,Venezuela,25.0,2.0,2.0,1.0,2.0,2.0,1.0
21199,1996,Venezuela,20.0,1.0,2.0,2.0,3.0,1.0,1.0

In [22]:
data.to_csv('data_1996_completed.csv')

In [23]:
data = pd.read_csv('data_1995_corrected.csv')

In [24]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,0,1995,Chile,23.0,Male,Good,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
1,1,1995,Chile,21.0,Female,Good,Some confidence,Little confidence,"Under some circumstances, an authoritarian gov..."
2,2,1995,Chile,34.0,Male,Not bad,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
3,3,1995,Chile,30.0,Female,Good,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
4,4,1995,Chile,44.0,Female,Good,Some confidence,Some confidence,Democracy is preferable to any other kind of g...

In [25]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,0,1995,Chile,23.0,1.0,Good,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
1,1,1995,Chile,21.0,2.0,Good,Some confidence,Little confidence,"Under some circumstances, an authoritarian gov..."
2,2,1995,Chile,34.0,1.0,Not bad,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
3,3,1995,Chile,30.0,2.0,Good,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
4,4,1995,Chile,44.0,2.0,Good,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...
9064,9064,1995,Venezuela,34.0,2.0,Not bad,No confidence at all,Some confidence,"Under some circumstances, an authoritarian gov..."
9065,9065,1995,Venezuela,21.0,1.0,Not bad,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
9066,9066,1995,Venezuela,35.0,1.0,Not bad,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
9067,9067,1995,Venezuela,65.0,1.0,Good,Little confidence,No confidence at all,"Under some circumstances, an authoritarian gov..."
9068,9068,1995,Venezuela,31.0,2.0,Good,Some confidence,Some confidence,"For people like me, it does not matter whether..."

In [26]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,0,1995,Chile,23.0,1.0,2.0,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
1,1,1995,Chile,21.0,2.0,2.0,Some confidence,Little confidence,"Under some circumstances, an authoritarian gov..."
2,2,1995,Chile,34.0,1.0,3.0,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
3,3,1995,Chile,30.0,2.0,2.0,Some confidence,Some confidence,Democracy is preferable to any other kind of g...
4,4,1995,Chile,44.0,2.0,2.0,Some confidence,Some confidence,Democracy is preferable to any other kind of g...

In [27]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not asked'],[1,2,3,4,-1,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,0,1995,Chile,23.0,1.0,2.0,2.0,Some confidence,Democracy is preferable to any other kind of g...
1,1,1995,Chile,21.0,2.0,2.0,2.0,Little confidence,"Under some circumstances, an authoritarian gov..."
2,2,1995,Chile,34.0,1.0,3.0,2.0,Some confidence,Democracy is preferable to any other kind of g...
3,3,1995,Chile,30.0,2.0,2.0,2.0,Some confidence,Democracy is preferable to any other kind of g...
4,4,1995,Chile,44.0,2.0,2.0,2.0,Some confidence,Democracy is preferable to any other kind of g...

In [28]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not asked'],[1,2,3,4,-1,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,0,1995,Chile,23.0,1.0,2.0,2.0,2.0,Democracy is preferable to any other kind of g...
1,1,1995,Chile,21.0,2.0,2.0,2.0,3.0,"Under some circumstances, an authoritarian gov..."
2,2,1995,Chile,34.0,1.0,3.0,2.0,2.0,Democracy is preferable to any other kind of g...
3,3,1995,Chile,30.0,2.0,2.0,2.0,2.0,Democracy is preferable to any other kind of g...
4,4,1995,Chile,44.0,2.0,2.0,2.0,2.0,Democracy is preferable to any other kind of g...

In [29]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,0,1995,Chile,23.0,1.0,2.0,2.0,2.0,1.0
1,1,1995,Chile,21.0,2.0,2.0,2.0,3.0,2.0
2,2,1995,Chile,34.0,1.0,3.0,2.0,2.0,1.0
3,3,1995,Chile,30.0,2.0,2.0,2.0,2.0,1.0
4,4,1995,Chile,44.0,2.0,2.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
9064,9064,1995,Venezuela,34.0,2.0,3.0,4.0,2.0,2.0
9065,9065,1995,Venezuela,21.0,1.0,3.0,2.0,2.0,1.0
9066,9066,1995,Venezuela,35.0,1.0,3.0,2.0,2.0,1.0
9067,9067,1995,Venezuela,65.0,1.0,2.0,3.0,4.0,2.0
9068,9068,1995,Venezuela,31.0,2.0,2.0,2.0,2.0,3.0

In [30]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,support_democracy
0,1995,Chile,23.0,1.0,2.0,2.0,2.0,1.0
1,1995,Chile,21.0,2.0,2.0,2.0,3.0,2.0
2,1995,Chile,34.0,1.0,3.0,2.0,2.0,1.0
3,1995,Chile,30.0,2.0,2.0,2.0,2.0,1.0
4,1995,Chile,44.0,2.0,2.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
9064,1995,Venezuela,34.0,2.0,3.0,4.0,2.0,2.0
9065,1995,Venezuela,21.0,1.0,3.0,2.0,2.0,1.0
9066,1995,Venezuela,35.0,1.0,3.0,2.0,2.0,1.0
9067,1995,Venezuela,65.0,1.0,2.0,3.0,4.0,2.0
9068,1995,Venezuela,31.0,2.0,2.0,2.0,2.0,3.0

In [32]:
data.to_csv('data_1995_completed.csv')

In [33]:
data = pd.read_csv('data_1997_corrected.csv')

In [34]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,Male,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
1,1,1997,Argentina,49.0,Female,Good,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1997,Argentina,77.0,Female,Not bad,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1997,Argentina,54.0,Male,Good,Some confidence,Some confidence,NaN,Democracy is preferable to any other kind of g...
4,4,1997,Argentina,48.0,Female,Good,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [35]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
1,1,1997,Argentina,49.0,2,Good,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1997,Argentina,77.0,2,Not bad,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1997,Argentina,54.0,1,Good,Some confidence,Some confidence,NaN,Democracy is preferable to any other kind of g...
4,4,1997,Argentina,48.0,2,Good,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...,...
20238,20238,1997,Venezuela,56.0,2,Not bad,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20239,20239,1997,Venezuela,58.0,2,Not bad,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20240,20240,1997,Venezuela,20.0,2,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20241,20241,1997,Venezuela,36.0,2,Not bad,A lot of confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20242,20242,1997,Venezuela,45.0,2,Not bad,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [36]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,2.0,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
1,1,1997,Argentina,49.0,2,2.0,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1997,Argentina,77.0,2,3.0,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1997,Argentina,54.0,1,2.0,Some confidence,Some confidence,NaN,Democracy is preferable to any other kind of g...
4,4,1997,Argentina,48.0,2,2.0,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [37]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,2.0,4.0,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
1,1,1997,Argentina,49.0,2,2.0,3.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1997,Argentina,77.0,2,3.0,4.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1997,Argentina,54.0,1,2.0,2.0,Some confidence,NaN,Democracy is preferable to any other kind of g...
4,4,1997,Argentina,48.0,2,2.0,1.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [38]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,2.0,4.0,4.0,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
1,1,1997,Argentina,49.0,2,2.0,3.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1997,Argentina,77.0,2,3.0,4.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,1997,Argentina,54.0,1,2.0,2.0,2.0,NaN,Democracy is preferable to any other kind of g...
4,4,1997,Argentina,48.0,2,2.0,1.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [39]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','Dont know/No answer','Not asked'],[1,2,-2,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,2.0,4.0,4.0,2.0,"For people like me, it does not matter whether..."
1,1,1997,Argentina,49.0,2,2.0,3.0,3.0,2.0,Democracy is preferable to any other kind of g...
2,2,1997,Argentina,77.0,2,3.0,4.0,4.0,2.0,Democracy is preferable to any other kind of g...
3,3,1997,Argentina,54.0,1,2.0,2.0,2.0,NaN,Democracy is preferable to any other kind of g...
4,4,1997,Argentina,48.0,2,2.0,1.0,4.0,2.0,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...,...
20238,20238,1997,Venezuela,56.0,2,3.0,1.0,3.0,2.0,Democracy is preferable to any other kind of g...
20239,20239,1997,Venezuela,58.0,2,3.0,1.0,3.0,2.0,Democracy is preferable to any other kind of g...
20240,20240,1997,Venezuela,20.0,2,3.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...
20241,20241,1997,Venezuela,36.0,2,3.0,1.0,2.0,2.0,Democracy is preferable to any other kind of g...
20242,20242,1997,Venezuela,45.0,2,3.0,1.0,3.0,2.0,Democracy is preferable to any other kind of g...

In [40]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,2.0,4.0,4.0,2.0,3.0
1,1,1997,Argentina,49.0,2,2.0,3.0,3.0,2.0,1.0
2,2,1997,Argentina,77.0,2,3.0,4.0,4.0,2.0,1.0
3,3,1997,Argentina,54.0,1,2.0,2.0,2.0,NaN,1.0
4,4,1997,Argentina,48.0,2,2.0,1.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
20238,20238,1997,Venezuela,56.0,2,3.0,1.0,3.0,2.0,1.0
20239,20239,1997,Venezuela,58.0,2,3.0,1.0,3.0,2.0,1.0
20240,20240,1997,Venezuela,20.0,2,3.0,2.0,3.0,2.0,1.0
20241,20241,1997,Venezuela,36.0,2,3.0,1.0,2.0,2.0,1.0
20242,20242,1997,Venezuela,45.0,2,3.0,1.0,3.0,2.0,1.0

In [41]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1997,Argentina,41.0,1,2.0,4.0,4.0,2.0,3.0
1,1997,Argentina,49.0,2,2.0,3.0,3.0,2.0,1.0
2,1997,Argentina,77.0,2,3.0,4.0,4.0,2.0,1.0
3,1997,Argentina,54.0,1,2.0,2.0,2.0,NaN,1.0
4,1997,Argentina,48.0,2,2.0,1.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
20238,1997,Venezuela,56.0,2,3.0,1.0,3.0,2.0,1.0
20239,1997,Venezuela,58.0,2,3.0,1.0,3.0,2.0,1.0
20240,1997,Venezuela,20.0,2,3.0,2.0,3.0,2.0,1.0
20241,1997,Venezuela,36.0,2,3.0,1.0,2.0,2.0,1.0
20242,1997,Venezuela,45.0,2,3.0,1.0,3.0,2.0,1.0

In [42]:
data.to_csv('data_1997_completed.csv')

In [43]:
data = pd.read_csv('data_1998_corrected.csv')

In [44]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,Female,Good,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1998,Argentina,41.0,Female,Good,Some confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1998,Argentina,48.0,Male,Not bad,A lot of confidence,Little confidence,No answer/Refused,DonÂ´t know
3,3,1998,Argentina,61.0,Male,Not bad,Little confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,1998,Argentina,61.0,Female,Good,A lot of confidence,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."

In [45]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,2,Good,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1998,Argentina,41.0,2,Good,Some confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1998,Argentina,48.0,1,Not bad,A lot of confidence,Little confidence,No answer/Refused,DonÂ´t know
3,3,1998,Argentina,61.0,1,Not bad,Little confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,1998,Argentina,61.0,2,Good,A lot of confidence,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
...,...,...,...,...,...,...,...,...,...,...
20326,20326,1998,Venezuela,24.0,1,Not bad,A lot of confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20327,20327,1998,Venezuela,48.0,1,Not bad,A lot of confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20328,20328,1998,Venezuela,18.0,1,Good,A lot of confidence,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...
20329,20329,1998,Venezuela,37.0,2,Not bad,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
20330,20330,1998,Venezuela,67.0,2,Not bad,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [46]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,2,2,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1998,Argentina,41.0,2,2,Some confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1998,Argentina,48.0,1,3,A lot of confidence,Little confidence,No answer/Refused,DonÂ´t know
3,3,1998,Argentina,61.0,1,3,Little confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,1998,Argentina,61.0,2,2,A lot of confidence,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."

In [47]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,2,2,1,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1998,Argentina,41.0,2,2,2,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1998,Argentina,48.0,1,3,1,Little confidence,No answer/Refused,DonÂ´t know
3,3,1998,Argentina,61.0,1,3,3,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,1998,Argentina,61.0,2,2,1,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."

In [48]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,2,2,1,4,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,1998,Argentina,41.0,2,2,2,4,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,1998,Argentina,48.0,1,3,1,3,No answer/Refused,DonÂ´t know
3,3,1998,Argentina,61.0,1,3,3,4,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,1998,Argentina,61.0,2,2,1,1,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."

In [51]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','No answer/Refused','Not asked'],[1,2,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,2,2,1,4,2,Democracy is preferable to any other kind of g...
1,1,1998,Argentina,41.0,2,2,2,4,2,Democracy is preferable to any other kind of g...
2,2,1998,Argentina,48.0,1,3,1,3,-2,DonÂ´t know
3,3,1998,Argentina,61.0,1,3,3,4,2,"Under some circumstances, an authoritarian gov..."
4,4,1998,Argentina,61.0,2,2,1,1,2,"For people like me, it does not matter whether..."

In [53]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73.0,2,2,1,4,2,1
1,1,1998,Argentina,41.0,2,2,2,4,2,1
2,2,1998,Argentina,48.0,1,3,1,3,-2,DonÂ´t know
3,3,1998,Argentina,61.0,1,3,3,4,2,2
4,4,1998,Argentina,61.0,2,2,1,1,2,3

In [54]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1998,Argentina,73.0,2,2,1,4,2,1
1,1998,Argentina,41.0,2,2,2,4,2,1
2,1998,Argentina,48.0,1,3,1,3,-2,DonÂ´t know
3,1998,Argentina,61.0,1,3,3,4,2,2
4,1998,Argentina,61.0,2,2,1,1,2,3
...,...,...,...,...,...,...,...,...,...
20326,1998,Venezuela,24.0,1,3,1,2,2,1
20327,1998,Venezuela,48.0,1,3,1,2,2,1
20328,1998,Venezuela,18.0,1,2,1,3,1,1
20329,1998,Venezuela,37.0,2,3,1,4,2,1
20330,1998,Venezuela,67.0,2,3,1,4,2,1

In [55]:
data.to_csv('data_1998_completed.csv')

In [56]:
data = pd.read_csv('data_2000_corrected.csv')

In [57]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,Female,Not bad,A lot of confidence,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...
1,1,2000,Argentina,23.0,Female,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2000,Argentina,23.0,Female,Good,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2000,Argentina,51.0,Male,Not bad,Little confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2000,Argentina,29.0,Male,Not bad,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [59]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,2,Not bad,A lot of confidence,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...
1,1,2000,Argentina,23.0,2,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2000,Argentina,23.0,2,Good,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2000,Argentina,51.0,1,Not bad,Little confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2000,Argentina,29.0,1,Not bad,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [60]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,2,3.0,A lot of confidence,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...
1,1,2000,Argentina,23.0,2,3.0,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2000,Argentina,23.0,2,2.0,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2000,Argentina,51.0,1,3.0,Little confidence,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2000,Argentina,29.0,1,3.0,Little confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [61]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,2,3.0,1.0,Little confidence,You can trust most people,Democracy is preferable to any other kind of g...
1,1,2000,Argentina,23.0,2,3.0,2.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2000,Argentina,23.0,2,2.0,2.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2000,Argentina,51.0,1,3.0,3.0,Some confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2000,Argentina,29.0,1,3.0,3.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [62]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,2,3.0,1.0,3.0,You can trust most people,Democracy is preferable to any other kind of g...
1,1,2000,Argentina,23.0,2,3.0,2.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2000,Argentina,23.0,2,2.0,2.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2000,Argentina,51.0,1,3.0,3.0,2.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2000,Argentina,29.0,1,3.0,3.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [63]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','Dont know/No answer','Not asked'],[1,2,-2,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,2,3.0,1.0,3.0,1.0,Democracy is preferable to any other kind of g...
1,1,2000,Argentina,23.0,2,3.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...
2,2,2000,Argentina,23.0,2,2.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...
3,3,2000,Argentina,51.0,1,3.0,3.0,2.0,2.0,Democracy is preferable to any other kind of g...
4,4,2000,Argentina,29.0,1,3.0,3.0,3.0,2.0,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...,...
18033,18033,2000,Venezuela,50.0,2,2.0,4.0,4.0,2.0,"Under some circumstances, an authoritarian gov..."
18034,18034,2000,Venezuela,34.0,1,4.0,1.0,3.0,2.0,Democracy is preferable to any other kind of g...
18035,18035,2000,Venezuela,73.0,1,2.0,1.0,3.0,2.0,"For people like me, it does not matter whether..."
18036,18036,2000,Venezuela,73.0,1,3.0,1.0,4.0,2.0,NaN
18037,18037,2000,Venezuela,20.0,2,3.0,1.0,1.0,2.0,"For people like me, it does not matter whether..."

In [64]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27.0,2,3.0,1.0,3.0,1.0,1.0
1,1,2000,Argentina,23.0,2,3.0,2.0,3.0,2.0,1.0
2,2,2000,Argentina,23.0,2,2.0,2.0,3.0,2.0,1.0
3,3,2000,Argentina,51.0,1,3.0,3.0,2.0,2.0,1.0
4,4,2000,Argentina,29.0,1,3.0,3.0,3.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
18033,18033,2000,Venezuela,50.0,2,2.0,4.0,4.0,2.0,2.0
18034,18034,2000,Venezuela,34.0,1,4.0,1.0,3.0,2.0,1.0
18035,18035,2000,Venezuela,73.0,1,2.0,1.0,3.0,2.0,3.0
18036,18036,2000,Venezuela,73.0,1,3.0,1.0,4.0,2.0,NaN
18037,18037,2000,Venezuela,20.0,2,3.0,1.0,1.0,2.0,3.0

In [65]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2000,Argentina,27.0,2,3.0,1.0,3.0,1.0,1.0
1,2000,Argentina,23.0,2,3.0,2.0,3.0,2.0,1.0
2,2000,Argentina,23.0,2,2.0,2.0,3.0,2.0,1.0
3,2000,Argentina,51.0,1,3.0,3.0,2.0,2.0,1.0
4,2000,Argentina,29.0,1,3.0,3.0,3.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
18033,2000,Venezuela,50.0,2,2.0,4.0,4.0,2.0,2.0
18034,2000,Venezuela,34.0,1,4.0,1.0,3.0,2.0,1.0
18035,2000,Venezuela,73.0,1,2.0,1.0,3.0,2.0,3.0
18036,2000,Venezuela,73.0,1,3.0,1.0,4.0,2.0,NaN
18037,2000,Venezuela,20.0,2,3.0,1.0,1.0,2.0,3.0

In [66]:
data.to_csv('data_2000_completed.csv')

In [67]:
data = pd.read_csv('data_2001_corrected.csv')

In [68]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,Female,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,2001,Argentina,19.0,Female,Good,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2001,Argentina,35.0,Female,Not bad,Little confidence,No confidence at all,You can trust most people,"Under some circumstances, an authoritarian gov..."
3,3,2001,Argentina,25.0,Male,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,2001,Argentina,43.0,Male,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [69]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,2001,Argentina,19.0,2,Good,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2001,Argentina,35.0,2,Not bad,Little confidence,No confidence at all,You can trust most people,"Under some circumstances, an authoritarian gov..."
3,3,2001,Argentina,25.0,1,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,2001,Argentina,43.0,1,Not bad,Some confidence,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [70]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,3.0,Some confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,2001,Argentina,19.0,2,2.0,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2001,Argentina,35.0,2,3.0,Little confidence,No confidence at all,You can trust most people,"Under some circumstances, an authoritarian gov..."
3,3,2001,Argentina,25.0,1,3.0,Some confidence,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,2001,Argentina,43.0,1,3.0,Some confidence,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [71]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,3.0,2.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,2001,Argentina,19.0,2,2.0,1.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2001,Argentina,35.0,2,3.0,3.0,No confidence at all,You can trust most people,"Under some circumstances, an authoritarian gov..."
3,3,2001,Argentina,25.0,1,3.0,2.0,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,2001,Argentina,43.0,1,3.0,2.0,Little confidence,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [72]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,3.0,2.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
1,1,2001,Argentina,19.0,2,2.0,1.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2001,Argentina,35.0,2,3.0,3.0,4.0,You can trust most people,"Under some circumstances, an authoritarian gov..."
3,3,2001,Argentina,25.0,1,3.0,2.0,3.0,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
4,4,2001,Argentina,43.0,1,3.0,2.0,3.0,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [73]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','Dont know/No answer','Not asked'],[1,2,-2,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,3.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...
1,1,2001,Argentina,19.0,2,2.0,1.0,3.0,2.0,Democracy is preferable to any other kind of g...
2,2,2001,Argentina,35.0,2,3.0,3.0,4.0,1.0,"Under some circumstances, an authoritarian gov..."
3,3,2001,Argentina,25.0,1,3.0,2.0,3.0,2.0,"Under some circumstances, an authoritarian gov..."
4,4,2001,Argentina,43.0,1,3.0,2.0,3.0,2.0,"Under some circumstances, an authoritarian gov..."
...,...,...,...,...,...,...,...,...,...,...
20626,20626,2001,Venezuela,61.0,2,4.0,3.0,1.0,2.0,"Under some circumstances, an authoritarian gov..."
20627,20627,2001,Venezuela,28.0,1,3.0,1.0,4.0,2.0,Democracy is preferable to any other kind of g...
20628,20628,2001,Venezuela,41.0,2,3.0,2.0,2.0,2.0,"Under some circumstances, an authoritarian gov..."
20629,20629,2001,Venezuela,47.0,2,3.0,2.0,3.0,2.0,"Under some circumstances, an authoritarian gov..."
20630,20630,2001,Venezuela,23.0,2,3.0,3.0,3.0,1.0,"Under some circumstances, an authoritarian gov..."

In [74]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,3.0,2.0,3.0,2.0,1.0
1,1,2001,Argentina,19.0,2,2.0,1.0,3.0,2.0,1.0
2,2,2001,Argentina,35.0,2,3.0,3.0,4.0,1.0,2.0
3,3,2001,Argentina,25.0,1,3.0,2.0,3.0,2.0,2.0
4,4,2001,Argentina,43.0,1,3.0,2.0,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
20626,20626,2001,Venezuela,61.0,2,4.0,3.0,1.0,2.0,2.0
20627,20627,2001,Venezuela,28.0,1,3.0,1.0,4.0,2.0,1.0
20628,20628,2001,Venezuela,41.0,2,3.0,2.0,2.0,2.0,2.0
20629,20629,2001,Venezuela,47.0,2,3.0,2.0,3.0,2.0,2.0
20630,20630,2001,Venezuela,23.0,2,3.0,3.0,3.0,1.0,2.0

In [75]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2001,Argentina,50.0,2,3.0,2.0,3.0,2.0,1.0
1,2001,Argentina,19.0,2,2.0,1.0,3.0,2.0,1.0
2,2001,Argentina,35.0,2,3.0,3.0,4.0,1.0,2.0
3,2001,Argentina,25.0,1,3.0,2.0,3.0,2.0,2.0
4,2001,Argentina,43.0,1,3.0,2.0,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
20626,2001,Venezuela,61.0,2,4.0,3.0,1.0,2.0,2.0
20627,2001,Venezuela,28.0,1,3.0,1.0,4.0,2.0,1.0
20628,2001,Venezuela,41.0,2,3.0,2.0,2.0,2.0,2.0
20629,2001,Venezuela,47.0,2,3.0,2.0,3.0,2.0,2.0
20630,2001,Venezuela,23.0,2,3.0,3.0,3.0,1.0,2.0

In [76]:
data.to_csv('data_2001_completed.csv')

In [77]:
data = pd.read_csv('data_2002_corrected.csv')

In [78]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,Female,Bad,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
1,1,2002,Argentina,21.0,Female,Not bad,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
2,2,2002,Argentina,54.0,Male,Not bad,Little confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2002,Argentina,39.0,Male,Not bad,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2002,Argentina,23.0,Male,Not bad,Little confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [79]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,Bad,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
1,1,2002,Argentina,21.0,2,Not bad,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
2,2,2002,Argentina,54.0,1,Not bad,Little confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2002,Argentina,39.0,1,Not bad,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2002,Argentina,23.0,1,Not bad,Little confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [80]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,4.0,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
1,1,2002,Argentina,21.0,2,3.0,A lot of confidence,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
2,2,2002,Argentina,54.0,1,3.0,Little confidence,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2002,Argentina,39.0,1,3.0,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2002,Argentina,23.0,1,3.0,Little confidence,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [81]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,4.0,1.0,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
1,1,2002,Argentina,21.0,2,3.0,1.0,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
2,2,2002,Argentina,54.0,1,3.0,3.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2002,Argentina,39.0,1,3.0,4.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2002,Argentina,23.0,1,3.0,3.0,No confidence at all,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [82]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,4.0,1.0,4.0,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."
1,1,2002,Argentina,21.0,2,3.0,1.0,4.0,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
2,2,2002,Argentina,54.0,1,3.0,3.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
3,3,2002,Argentina,39.0,1,3.0,4.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
4,4,2002,Argentina,23.0,1,3.0,3.0,4.0,You can never be too careful when dealing with...,"Under some circumstances, an authoritarian gov..."

In [83]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','Dont know/No answer','Not asked'],[1,2,-2,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,4.0,1.0,4.0,2.0,"Under some circumstances, an authoritarian gov..."
1,1,2002,Argentina,21.0,2,3.0,1.0,4.0,2.0,"For people like me, it does not matter whether..."
2,2,2002,Argentina,54.0,1,3.0,3.0,4.0,2.0,Democracy is preferable to any other kind of g...
3,3,2002,Argentina,39.0,1,3.0,4.0,4.0,2.0,Democracy is preferable to any other kind of g...
4,4,2002,Argentina,23.0,1,3.0,3.0,4.0,2.0,"Under some circumstances, an authoritarian gov..."
...,...,...,...,...,...,...,...,...,...,...
21001,21001,2002,Venezuela,37.0,2,3.0,3.0,4.0,2.0,Democracy is preferable to any other kind of g...
21002,21002,2002,Venezuela,58.0,1,3.0,1.0,1.0,2.0,Democracy is preferable to any other kind of g...
21003,21003,2002,Venezuela,26.0,1,3.0,1.0,1.0,2.0,Democracy is preferable to any other kind of g...
21004,21004,2002,Venezuela,34.0,2,3.0,3.0,3.0,2.0,Democracy is preferable to any other kind of g...
21005,21005,2002,Venezuela,23.0,2,3.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...

In [84]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,4.0,1.0,4.0,2.0,2.0
1,1,2002,Argentina,21.0,2,3.0,1.0,4.0,2.0,3.0
2,2,2002,Argentina,54.0,1,3.0,3.0,4.0,2.0,1.0
3,3,2002,Argentina,39.0,1,3.0,4.0,4.0,2.0,1.0
4,4,2002,Argentina,23.0,1,3.0,3.0,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
21001,21001,2002,Venezuela,37.0,2,3.0,3.0,4.0,2.0,1.0
21002,21002,2002,Venezuela,58.0,1,3.0,1.0,1.0,2.0,1.0
21003,21003,2002,Venezuela,26.0,1,3.0,1.0,1.0,2.0,1.0
21004,21004,2002,Venezuela,34.0,2,3.0,3.0,3.0,2.0,1.0
21005,21005,2002,Venezuela,23.0,2,3.0,2.0,3.0,2.0,1.0

In [85]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2002,Argentina,33.0,2,4.0,1.0,4.0,2.0,2.0
1,2002,Argentina,21.0,2,3.0,1.0,4.0,2.0,3.0
2,2002,Argentina,54.0,1,3.0,3.0,4.0,2.0,1.0
3,2002,Argentina,39.0,1,3.0,4.0,4.0,2.0,1.0
4,2002,Argentina,23.0,1,3.0,3.0,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
21001,2002,Venezuela,37.0,2,3.0,3.0,4.0,2.0,1.0
21002,2002,Venezuela,58.0,1,3.0,1.0,1.0,2.0,1.0
21003,2002,Venezuela,26.0,1,3.0,1.0,1.0,2.0,1.0
21004,2002,Venezuela,34.0,2,3.0,3.0,3.0,2.0,1.0
21005,2002,Venezuela,23.0,2,3.0,2.0,3.0,2.0,1.0

In [86]:
data.to_csv('data_2002_completed.csv')

In [87]:
data = pd.read_csv('data_2003_corrected.csv')

In [88]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,Female,Not bad,A lot of confidence,Little confidence,You can trust most people,"For people like me, it does not matter whether..."
1,1,2003,Argentina,51.0,Female,Not bad,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2003,Argentina,49.0,Male,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
3,3,2003,Argentina,39.0,Female,Not bad,A lot of confidence,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
4,4,2003,Argentina,45.0,Male,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [89]:
data['gender'] = data['gender'].replace(['Male','Female'],[1,2])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,Not bad,A lot of confidence,Little confidence,You can trust most people,"For people like me, it does not matter whether..."
1,1,2003,Argentina,51.0,2,Not bad,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2003,Argentina,49.0,1,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
3,3,2003,Argentina,39.0,2,Not bad,A lot of confidence,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
4,4,2003,Argentina,45.0,1,Good,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [90]:
data['economic_status'] = data['economic_status'].replace(['Very good','Good','Not bad','Bad','Very bad','No answer/Refused','Not asked'],[1,2,3,4,5,-2,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,3.0,A lot of confidence,Little confidence,You can trust most people,"For people like me, it does not matter whether..."
1,1,2003,Argentina,51.0,2,3.0,A lot of confidence,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2003,Argentina,49.0,1,2.0,No confidence at all,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
3,3,2003,Argentina,39.0,2,3.0,A lot of confidence,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
4,4,2003,Argentina,45.0,1,2.0,No confidence at all,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [91]:
data['trust_church'] = data['trust_church'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,3.0,1.0,Little confidence,You can trust most people,"For people like me, it does not matter whether..."
1,1,2003,Argentina,51.0,2,3.0,1.0,Little confidence,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2003,Argentina,49.0,1,2.0,4.0,No confidence at all,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
3,3,2003,Argentina,39.0,2,3.0,1.0,A lot of confidence,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
4,4,2003,Argentina,45.0,1,2.0,4.0,No confidence at all,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [92]:
data['trust_judiciary'] = data['trust_judiciary'].replace(['A lot of confidence','Some confidence','Little confidence','No confidence at all','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,4,-1,-2,-3,-4])
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,3.0,1.0,3.0,You can trust most people,"For people like me, it does not matter whether..."
1,1,2003,Argentina,51.0,2,3.0,1.0,3.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...
2,2,2003,Argentina,49.0,1,2.0,4.0,4.0,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
3,3,2003,Argentina,39.0,2,3.0,1.0,1.0,You can never be too careful when dealing with...,"For people like me, it does not matter whether..."
4,4,2003,Argentina,45.0,1,2.0,4.0,4.0,You can never be too careful when dealing with...,Democracy is preferable to any other kind of g...

In [93]:
data['trust_people'] = data['trust_people'].replace(['You can trust most people','You can never be too careful when dealing with others','Dont know/No answer','Not asked'],[1,2,-2,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,3.0,1.0,3.0,1.0,"For people like me, it does not matter whether..."
1,1,2003,Argentina,51.0,2,3.0,1.0,3.0,2.0,Democracy is preferable to any other kind of g...
2,2,2003,Argentina,49.0,1,2.0,4.0,4.0,2.0,"For people like me, it does not matter whether..."
3,3,2003,Argentina,39.0,2,3.0,1.0,1.0,2.0,"For people like me, it does not matter whether..."
4,4,2003,Argentina,45.0,1,2.0,4.0,4.0,2.0,Democracy is preferable to any other kind of g...
...,...,...,...,...,...,...,...,...,...,...
21128,21128,2003,Venezuela,42.0,1,3.0,2.0,4.0,2.0,Democracy is preferable to any other kind of g...
21129,21129,2003,Venezuela,35.0,2,3.0,1.0,3.0,2.0,"Under some circumstances, an authoritarian gov..."
21130,21130,2003,Venezuela,40.0,2,3.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...
21131,21131,2003,Venezuela,27.0,2,3.0,2.0,4.0,2.0,Democracy is preferable to any other kind of g...
21132,21132,2003,Venezuela,71.0,2,3.0,2.0,3.0,2.0,Democracy is preferable to any other kind of g...

In [94]:
data['support_democracy'] = data['support_democracy'].replace(['Democracy is preferable to any other kind of government','Under some circumstances, an authoritarian government can be','For people like me, it does not matter whether we have a dem','Dont know','No answer/Refused','Not applicable','Not asked'],[1,2,3,-1,-2,-3,-4])
data

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,3.0,1.0,3.0,1.0,3.0
1,1,2003,Argentina,51.0,2,3.0,1.0,3.0,2.0,1.0
2,2,2003,Argentina,49.0,1,2.0,4.0,4.0,2.0,3.0
3,3,2003,Argentina,39.0,2,3.0,1.0,1.0,2.0,3.0
4,4,2003,Argentina,45.0,1,2.0,4.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
21128,21128,2003,Venezuela,42.0,1,3.0,2.0,4.0,2.0,1.0
21129,21129,2003,Venezuela,35.0,2,3.0,1.0,3.0,2.0,2.0
21130,21130,2003,Venezuela,40.0,2,3.0,2.0,3.0,2.0,1.0
21131,21131,2003,Venezuela,27.0,2,3.0,2.0,4.0,2.0,1.0
21132,21132,2003,Venezuela,71.0,2,3.0,2.0,3.0,2.0,1.0

In [95]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2003,Argentina,19.0,2,3.0,1.0,3.0,1.0,3.0
1,2003,Argentina,51.0,2,3.0,1.0,3.0,2.0,1.0
2,2003,Argentina,49.0,1,2.0,4.0,4.0,2.0,3.0
3,2003,Argentina,39.0,2,3.0,1.0,1.0,2.0,3.0
4,2003,Argentina,45.0,1,2.0,4.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...
21128,2003,Venezuela,42.0,1,3.0,2.0,4.0,2.0,1.0
21129,2003,Venezuela,35.0,2,3.0,1.0,3.0,2.0,2.0
21130,2003,Venezuela,40.0,2,3.0,2.0,3.0,2.0,1.0
21131,2003,Venezuela,27.0,2,3.0,2.0,4.0,2.0,1.0
21132,2003,Venezuela,71.0,2,3.0,2.0,3.0,2.0,1.0

In [96]:
data.to_csv('data_2003_completed.csv')

In [97]:
data = pd.read_csv('data_2011_corrected.csv')

In [98]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2011.0,89.0,1.776582e-307,1.814391e-307,0.0,1.787012e-307,1.787012e-307,4.548051e-305,1.783536e-307
1,1,2011.0,90.0,1.776582e-307,1.810045e-307,0.0,1.787012e-307,1.787012e-307,1.788751e-307,1.783536e-307
2,2,2011.0,91.0,1.776582e-307,1.808307e-307,0.0,1.783536e-307,1.787012e-307,1.790489e-307,1.783536e-307
3,3,2011.0,92.0,1.818303e-307,3.239062e+01,0.0,1.783536e-307,1.783536e-307,1.792227e-307,4.548051e-305
4,4,2011.0,93.0,1.776582e-307,1.814826e-307,0.0,4.556951e-305,4.556951e-305,1.787012e-307,1.780059e-307

In [99]:
data.drop([0,1])

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
2,2,2011.0,91.0,1.776582e-307,1.808307e-307,0.0,1.783536e-307,1.787012e-307,1.790489e-307,1.783536e-307
3,3,2011.0,92.0,1.818303e-307,3.239062e+01,0.0,1.783536e-307,1.783536e-307,1.792227e-307,4.548051e-305
4,4,2011.0,93.0,1.776582e-307,1.814826e-307,0.0,4.556951e-305,4.556951e-305,1.787012e-307,1.780059e-307
5,5,2011.0,94.0,1.776582e-307,1.813088e-307,0.0,1.787012e-307,1.787012e-307,1.776582e-307,1.783536e-307
6,6,2011.0,95.0,1.818303e-307,3.250781e+01,0.0,1.776582e-307,1.780059e-307,1.790489e-307,1.780059e-307
...,...,...,...,...,...,...,...,...,...,...
20199,20199,2011.0,Venezuela,5.800000e+01,2.000000e+00,1.0,2.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00
20200,20200,2011.0,Venezuela,7.000000e+01,2.000000e+00,2.0,2.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00
20201,20201,2011.0,Venezuela,4.000000e+01,1.000000e+00,1.0,2.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00
20202,20202,2011.0,Venezuela,3.500000e+01,2.000000e+00,3.0,2.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00
20203,20203,2011.0,Venezuela,3.100000e+01,2.000000e+00,2.0,2.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00

In [105]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
8,8,2011.0,Argentina,31.0,1.0,2.0,3.0,3.0,2.0,1.0
9,9,2011.0,Argentina,76.0,1.0,1.0,2.0,2.0,2.0,1.0
10,10,2011.0,Argentina,21.0,2.0,2.0,3.0,3.0,2.0,1.0
11,11,2011.0,Argentina,19.0,1.0,1.0,3.0,3.0,2.0,1.0
12,12,2011.0,Argentina,56.0,2.0,1.0,2.0,3.0,2.0,3.0

In [106]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
8,2011.0,Argentina,31.0,1.0,2.0,3.0,3.0,2.0,1.0
9,2011.0,Argentina,76.0,1.0,1.0,2.0,2.0,2.0,1.0
10,2011.0,Argentina,21.0,2.0,2.0,3.0,3.0,2.0,1.0
11,2011.0,Argentina,19.0,1.0,1.0,3.0,3.0,2.0,1.0
12,2011.0,Argentina,56.0,2.0,1.0,2.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...
20199,2011.0,Venezuela,58.0,2.0,1.0,2.0,4.0,2.0,1.0
20200,2011.0,Venezuela,70.0,2.0,2.0,2.0,4.0,2.0,1.0
20201,2011.0,Venezuela,40.0,1.0,1.0,2.0,4.0,2.0,1.0
20202,2011.0,Venezuela,35.0,2.0,3.0,2.0,4.0,2.0,1.0
20203,2011.0,Venezuela,31.0,2.0,2.0,2.0,4.0,2.0,1.0

In [107]:
data.to_csv('data_2011_completed.csv')

## Concatenating Databases

In [109]:
import pandas as pd

In [115]:
df1 = pd.read_csv('data_1995_completed.csv')

In [116]:
df1.shape

(9069, 10)

In [223]:
df1

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1995,Chile,23.0,1.0,2.0,2.0,2.0,0,1.0
1,1995,Chile,21.0,2.0,2.0,2.0,3.0,0,2.0
2,1995,Chile,34.0,1.0,3.0,2.0,2.0,0,1.0
3,1995,Chile,30.0,2.0,2.0,2.0,2.0,0,1.0
4,1995,Chile,44.0,2.0,2.0,2.0,2.0,0,1.0
...,...,...,...,...,...,...,...,...,...
9064,1995,Venezuela,34.0,2.0,3.0,4.0,2.0,0,2.0
9065,1995,Venezuela,21.0,1.0,3.0,2.0,2.0,0,1.0
9066,1995,Venezuela,35.0,1.0,3.0,2.0,2.0,0,1.0
9067,1995,Venezuela,65.0,1.0,2.0,3.0,4.0,0,2.0
9068,1995,Venezuela,31.0,2.0,2.0,2.0,2.0,0,3.0

In [233]:
df1.fillna()

In [119]:
df1 = df1.drop(['Unnamed: 0'], axis = 1)

In [120]:
df1.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1995,Chile,23.0,1.0,2.0,2.0,2.0,0,1.0
1,1995,Chile,21.0,2.0,2.0,2.0,3.0,0,2.0
2,1995,Chile,34.0,1.0,3.0,2.0,2.0,0,1.0
3,1995,Chile,30.0,2.0,2.0,2.0,2.0,0,1.0
4,1995,Chile,44.0,2.0,2.0,2.0,2.0,0,1.0

In [121]:
df2 = pd.read_csv('data_1996_completed.csv')

In [122]:
df2.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1996,Argentina,56.0,2.0,3.0,3.0,2.0,2.0,1.0
1,1,1996,Argentina,20.0,1.0,2.0,3.0,4.0,2.0,1.0
2,2,1996,Argentina,61.0,1.0,2.0,3.0,3.0,2.0,1.0
3,3,1996,Argentina,64.0,2.0,3.0,3.0,4.0,1.0,3.0
4,4,1996,Argentina,36.0,2.0,2.0,4.0,4.0,2.0,1.0

In [123]:
df2 = df2.drop(['Unnamed: 0'], axis = 1)

In [124]:
df2.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1996,Argentina,56.0,2.0,3.0,3.0,2.0,2.0,1.0
1,1996,Argentina,20.0,1.0,2.0,3.0,4.0,2.0,1.0
2,1996,Argentina,61.0,1.0,2.0,3.0,3.0,2.0,1.0
3,1996,Argentina,64.0,2.0,3.0,3.0,4.0,1.0,3.0
4,1996,Argentina,36.0,2.0,2.0,4.0,4.0,2.0,1.0

In [129]:
df3 = pd.read_csv('data_1997_completed.csv')
df3.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1997,Argentina,41.0,1,2.0,4.0,4.0,2.0,3.0
1,1,1997,Argentina,49.0,2,2.0,3.0,3.0,2.0,1.0
2,2,1997,Argentina,77.0,2,3.0,4.0,4.0,2.0,1.0
3,3,1997,Argentina,54.0,1,2.0,2.0,2.0,NaN,1.0
4,4,1997,Argentina,48.0,2,2.0,1.0,4.0,2.0,1.0

In [ ]:
df3 = df3.drop(['Unnamed: 0'], axis = 1)

In [133]:
df3.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1997,Argentina,41.0,1,2.0,4.0,4.0,2.0,3.0
1,1997,Argentina,49.0,2,2.0,3.0,3.0,2.0,1.0
2,1997,Argentina,77.0,2,3.0,4.0,4.0,2.0,1.0
3,1997,Argentina,54.0,1,2.0,2.0,2.0,NaN,1.0
4,1997,Argentina,48.0,2,2.0,1.0,4.0,2.0,1.0

In [134]:
df4 = pd.read_csv('data_1998_completed.csv')

In [135]:
df4.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1998,Argentina,73,2,2,1,4,2,1
1,1,1998,Argentina,41,2,2,2,4,2,1
2,2,1998,Argentina,48,1,3,1,3,-2,DonÂ´t know
3,3,1998,Argentina,61,1,3,3,4,2,2
4,4,1998,Argentina,61,2,2,1,1,2,3

In [136]:
df4 = df4.drop(['Unnamed: 0'], axis = 1)

In [137]:
df4.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1998,Argentina,73,2,2,1,4,2,1
1,1998,Argentina,41,2,2,2,4,2,1
2,1998,Argentina,48,1,3,1,3,-2,DonÂ´t know
3,1998,Argentina,61,1,3,3,4,2,2
4,1998,Argentina,61,2,2,1,1,2,3

In [138]:
df5 = pd.read_csv('data_2000_completed.csv')

In [139]:
df5.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2000,Argentina,27,2,3.0,1.0,3.0,1.0,1.0
1,1,2000,Argentina,23,2,3.0,2.0,3.0,2.0,1.0
2,2,2000,Argentina,23,2,2.0,2.0,3.0,2.0,1.0
3,3,2000,Argentina,51,1,3.0,3.0,2.0,2.0,1.0
4,4,2000,Argentina,29,1,3.0,3.0,3.0,2.0,1.0

In [140]:
df5 = df5.drop(['Unnamed: 0'], axis = 1)

In [141]:
df5.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2000,Argentina,27,2,3.0,1.0,3.0,1.0,1.0
1,2000,Argentina,23,2,3.0,2.0,3.0,2.0,1.0
2,2000,Argentina,23,2,2.0,2.0,3.0,2.0,1.0
3,2000,Argentina,51,1,3.0,3.0,2.0,2.0,1.0
4,2000,Argentina,29,1,3.0,3.0,3.0,2.0,1.0

In [143]:
df6 = pd.read_csv('data_2001_completed.csv')

In [144]:
df6.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2001,Argentina,50.0,2,3.0,2.0,3.0,2.0,1.0
1,1,2001,Argentina,19.0,2,2.0,1.0,3.0,2.0,1.0
2,2,2001,Argentina,35.0,2,3.0,3.0,4.0,1.0,2.0
3,3,2001,Argentina,25.0,1,3.0,2.0,3.0,2.0,2.0
4,4,2001,Argentina,43.0,1,3.0,2.0,3.0,2.0,2.0

In [145]:
df6 = df6.drop(['Unnamed: 0'], axis = 1)

In [146]:
df6.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2001,Argentina,50.0,2,3.0,2.0,3.0,2.0,1.0
1,2001,Argentina,19.0,2,2.0,1.0,3.0,2.0,1.0
2,2001,Argentina,35.0,2,3.0,3.0,4.0,1.0,2.0
3,2001,Argentina,25.0,1,3.0,2.0,3.0,2.0,2.0
4,2001,Argentina,43.0,1,3.0,2.0,3.0,2.0,2.0

In [147]:
df7 = pd.read_csv('data_2002_completed.csv')

In [148]:
df7.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2002,Argentina,33.0,2,4.0,1.0,4.0,2.0,2.0
1,1,2002,Argentina,21.0,2,3.0,1.0,4.0,2.0,3.0
2,2,2002,Argentina,54.0,1,3.0,3.0,4.0,2.0,1.0
3,3,2002,Argentina,39.0,1,3.0,4.0,4.0,2.0,1.0
4,4,2002,Argentina,23.0,1,3.0,3.0,4.0,2.0,2.0

In [149]:
df7 = df7.drop(['Unnamed: 0'], axis = 1)

In [150]:
df7.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2002,Argentina,33.0,2,4.0,1.0,4.0,2.0,2.0
1,2002,Argentina,21.0,2,3.0,1.0,4.0,2.0,3.0
2,2002,Argentina,54.0,1,3.0,3.0,4.0,2.0,1.0
3,2002,Argentina,39.0,1,3.0,4.0,4.0,2.0,1.0
4,2002,Argentina,23.0,1,3.0,3.0,4.0,2.0,2.0

In [151]:
df8 = pd.read_csv('data_2003_completed.csv')

In [152]:
df8.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2003,Argentina,19.0,2,3.0,1.0,3.0,1.0,3.0
1,1,2003,Argentina,51.0,2,3.0,1.0,3.0,2.0,1.0
2,2,2003,Argentina,49.0,1,2.0,4.0,4.0,2.0,3.0
3,3,2003,Argentina,39.0,2,3.0,1.0,1.0,2.0,3.0
4,4,2003,Argentina,45.0,1,2.0,4.0,4.0,2.0,1.0

In [153]:
df8 = df8.drop(['Unnamed: 0'], axis = 1)

In [154]:
df8.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2003,Argentina,19.0,2,3.0,1.0,3.0,1.0,3.0
1,2003,Argentina,51.0,2,3.0,1.0,3.0,2.0,1.0
2,2003,Argentina,49.0,1,2.0,4.0,4.0,2.0,3.0
3,2003,Argentina,39.0,2,3.0,1.0,1.0,2.0,3.0
4,2003,Argentina,45.0,1,2.0,4.0,4.0,2.0,1.0

In [155]:
df9 = pd.read_csv('data_2004_completed.csv')

In [156]:
df9 = df9.drop(['Unnamed: 0'], axis = 1)

In [157]:
df9.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2004,Argentina,69,1,3.0,1.0,3.0,2.0,1.0
1,2004,Argentina,24,1,2.0,1.0,4.0,1.0,3.0
2,2004,Argentina,59,1,3.0,3.0,4.0,2.0,1.0
3,2004,Argentina,18,1,2.0,1.0,4.0,1.0,3.0
4,2004,Argentina,76,2,2.0,3.0,4.0,2.0,1.0

In [158]:
df10 = pd.read_csv('data_2005_completed.csv')

In [159]:
df10 = df10.drop(['Unnamed: 0'], axis = 1)

In [160]:
df10.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2005,Argentina,70,1,5,2.0,3.0,1.0,1.0
1,2005,Argentina,36,2,4,4.0,4.0,1.0,1.0
2,2005,Argentina,20,2,5,4.0,4.0,1.0,1.0
3,2005,Argentina,72,1,4,2.0,4.0,1.0,1.0
4,2005,Argentina,74,1,3,4.0,4.0,1.0,1.0

In [161]:
df11 = pd.read_csv('data_2006_completed.csv')

In [162]:
df11 = df11.drop(['Unnamed: 0'], axis = 1)

In [163]:
df11.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2006,Argentina,35,1,2.0,1.0,4.0,2.0,2.0
1,2006,Argentina,80,2,4.0,2.0,4.0,2.0,1.0
2,2006,Argentina,18,1,2.0,2.0,3.0,1.0,1.0
3,2006,Argentina,43,2,3.0,1.0,3.0,2.0,1.0
4,2006,Argentina,61,2,3.0,1.0,2.0,2.0,1.0

In [164]:
df12 = pd.read_csv('data_2007_completed.csv')

In [165]:
df12= df12.drop(['Unnamed: 0'], axis = 1)

In [166]:
df12.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2007,Argentina,26,1,5.0,3.0,3.0,2.0,1.0
1,2007,Argentina,56,1,4.0,3.0,4.0,2.0,1.0
2,2007,Argentina,19,1,4.0,1.0,3.0,2.0,1.0
3,2007,Argentina,30,2,5.0,4.0,3.0,2.0,1.0
4,2007,Argentina,29,1,5.0,3.0,4.0,2.0,1.0

In [168]:
df13 = pd.read_csv('data_2008_completed.csv')

In [169]:
df13 = df13.drop(['Unnamed: 0'], axis = 1)

In [170]:
df13.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2008,Argentina,70.0,1,4.0,1.0,2.0,2.0,1.0
1,2008,Argentina,37.0,2,4.0,2.0,2.0,1.0,1.0
2,2008,Argentina,76.0,2,4.0,2.0,3.0,2.0,3.0
3,2008,Argentina,18.0,2,5.0,2.0,2.0,1.0,1.0
4,2008,Argentina,60.0,2,4.0,3.0,2.0,1.0,1.0

In [171]:
df14 = pd.read_csv('data_2009_completed.csv')

In [172]:
df14 = df14.drop(['Unnamed: 0'], axis = 1)

In [173]:
df14.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2009,Argentina,39,1,3.0,2.0,4.0,2.0,1.0
1,2009,Argentina,42,2,4.0,3.0,3.0,2.0,1.0
2,2009,Argentina,47,1,3.0,4.0,3.0,1.0,1.0
3,2009,Argentina,21,1,4.0,2.0,2.0,1.0,1.0
4,2009,Argentina,36,1,4.0,3.0,3.0,2.0,1.0

In [174]:
df15 = pd.read_csv('data_2010_completed.csv')

In [175]:
df15 = df15.drop(['Unnamed: 0'], axis = 1)

In [176]:
df15.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2010,Argentina,27.0,1,4.0,4.0,3.0,2.0,1.0
1,2010,Argentina,34.0,2,4.0,2.0,3.0,2.0,1.0
2,2010,Argentina,19.0,1,4.0,1.0,2.0,2.0,1.0
3,2010,Argentina,57.0,1,5.0,2.0,3.0,2.0,1.0
4,2010,Argentina,59.0,2,5.0,2.0,4.0,2.0,2.0

In [177]:
df16 = pd.read_csv('data_2011_completed.csv')

In [178]:
df16 = df16.drop(['Unnamed: 0'], axis = 1)

In [179]:
df16.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2011,Argentina,31,1,2,3,3,2,1
1,2011,Argentina,76,1,1,2,2,2,1
2,2011,Argentina,21,2,2,3,3,2,1
3,2011,Argentina,19,1,1,3,3,2,1
4,2011,Argentina,56,2,1,2,3,2,3

In [211]:
df17 = pd.read_csv('data_2013_completed.csv')

In [212]:
df17.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,2013,Argentina,40,1,3,2,2,2,3
1,1,2013,Argentina,62,2,2,1,3,2,3
2,2,2013,Argentina,40,2,4,2,3,2,3
3,3,2013,Argentina,57,1,3,4,3,2,3
4,4,2013,Argentina,48,1,3,-1,2,1,2

In [213]:
df17 = df17.drop(['Unnamed: 0'], axis = 1)

In [214]:
df17.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2013,Argentina,40,1,3,2,2,2,3
1,2013,Argentina,62,2,2,1,3,2,3
2,2013,Argentina,40,2,4,2,3,2,3
3,2013,Argentina,57,1,3,4,3,2,3
4,2013,Argentina,48,1,3,-1,2,1,2

In [183]:
df18 = pd.read_csv('data_2015_completed.csv')

In [184]:
df18 = df18.drop(['Unnamed: 0'], axis = 1)

In [185]:
df18.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2015,Argentina,27,2,4,2.0,3.0,2.0,1.0
1,2015,Argentina,59,2,4,2.0,2.0,1.0,1.0
2,2015,Argentina,60,1,4,2.0,3.0,2.0,1.0
3,2015,Argentina,53,2,4,1.0,3.0,2.0,1.0
4,2015,Argentina,74,1,4,2.0,3.0,2.0,1.0

In [186]:
df19 = pd.read_csv('data_2016_completed.csv')

In [187]:
df19 = df19.drop(['Unnamed: 0'], axis = 1)

In [188]:
df19.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2016.0,Argentina,36.0,2.0,2.0,2.0,2.0,2.0,1.0
1,2016.0,Argentina,66.0,2.0,2.0,2.0,2.0,2.0,1.0
2,2016.0,Argentina,24.0,1.0,2.0,-1.0,3.0,2.0,1.0
3,2016.0,Argentina,42.0,1.0,2.0,4.0,3.0,2.0,1.0
4,2016.0,Argentina,60.0,2.0,2.0,1.0,3.0,2.0,1.0

In [189]:
df20 = pd.read_csv('data_2017_completed.csv')

In [190]:
df20 = df20.drop(['Unnamed: 0'], axis = 1)

In [191]:
df20.head()

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2017.0,Argentina,61.0,2.0,3.0,-1.0,2.0,2.0,2.0
1,2017.0,Argentina,39.0,1.0,3.0,3.0,4.0,2.0,1.0
2,2017.0,Argentina,38.0,2.0,1.0,2.0,2.0,2.0,1.0
3,2017.0,Argentina,48.0,2.0,4.0,1.0,4.0,2.0,1.0
4,2017.0,Argentina,67.0,1.0,2.0,1.0,1.0,2.0,1.0

In [192]:
df21 = pd.read_csv('data_2018_completed.csv')

In [193]:
df21 = df21.drop(['Unnamed: 0'], axis = 1)

In [203]:
df21

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,2018.0,Argentina,46.0,2.0,4.0,2.0,4.0,2.0,3.0
1,2018.0,Argentina,79.0,2.0,3.0,3.0,4.0,2.0,1.0
2,2018.0,Argentina,22.0,1.0,3.0,2.0,2.0,2.0,2.0
3,2018.0,Argentina,72.0,2.0,3.0,1.0,2.0,2.0,2.0
4,2018.0,Argentina,29.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...
20199,2018.0,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0
20200,2018.0,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0
20201,2018.0,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0
20202,2018.0,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0
20203,2018.0,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0

In [247]:
frames = [df1,df2,df3,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21]
result = pd.concat(frames)

In [248]:
result

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1995.0,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0
1,1995.0,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0
2,1995.0,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0
3,1995.0,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0
4,1995.0,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
20199,2018.0,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0
20200,2018.0,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0
20201,2018.0,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0
20202,2018.0,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0
20203,2018.0,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0

In [249]:
result['age'].unique()

array([23.0, 21.0, 34.0, 30.0, 44.0, 48.0, 64.0, 38.0, 55.0, 26.0, 57.0,
       40.0, 53.0, 25.0, 36.0, 41.0, 54.0, 33.0, 32.0, 18.0, 68.0, 22.0,
       47.0, 65.0, 37.0, 27.0, 49.0, 42.0, 29.0, 35.0, 62.0, 67.0, 28.0,
       69.0, 45.0, 52.0, 19.0, 20.0, 61.0, 43.0, 66.0, 56.0, 39.0, 78.0,
       46.0, 70.0, 63.0, 60.0, 31.0, 51.0, 94.0, 75.0, 24.0, 71.0, 50.0,
       59.0, 80.0, 87.0, 82.0, 76.0, 79.0, 58.0, 83.0, 73.0, 90.0, 74.0,
       72.0, 84.0, 85.0, 77.0, nan, 81.0, 99.0, 88.0, 17.0, 15.0, 16.0,
       96.0, 89.0, 93.0, 86.0, 92.0, 91.0, 97.0, '73', '41', '48', '61',
       '69', '25', '38', '30', '45', '80', '54', '60', '62', '28', '24',
       '70', '31', '39', '26', '40', '18', '20', '35', '23', '52', '37',
       '50', '22', '79', '33', '47', '59', '58', '21', '55', '34', '56',
       '19', '68', '65', '29', '53', '49', '57', '43', '27', '36', '74',
       '46', '32', '72', '63', '67', '51', '44', '42', '64', '66', '78',
       '75', '77', '71', '76', 'No answer/Refused', '85', '81', '17',
       '16', '82', '88', '86', '84', '87', '90', '91', '83', '96', '89',
       '92', '98', '93', 95, 98.0, 100.0], dtype=object)

In [254]:
result = result.replace({'No answer/Refused': 0})

In [255]:
result['age'].unique()

array([23.0, 21.0, 34.0, 30.0, 44.0, 48.0, 64.0, 38.0, 55.0, 26.0, 57.0,
       40.0, 53.0, 25.0, 36.0, 41.0, 54.0, 33.0, 32.0, 18.0, 68.0, 22.0,
       47.0, 65.0, 37.0, 27.0, 49.0, 42.0, 29.0, 35.0, 62.0, 67.0, 28.0,
       69.0, 45.0, 52.0, 19.0, 20.0, 61.0, 43.0, 66.0, 56.0, 39.0, 78.0,
       46.0, 70.0, 63.0, 60.0, 31.0, 51.0, 94.0, 75.0, 24.0, 71.0, 50.0,
       59.0, 80.0, 87.0, 82.0, 76.0, 79.0, 58.0, 83.0, 73.0, 90.0, 74.0,
       72.0, 84.0, 85.0, 77.0, nan, 81.0, 99.0, 88.0, 17.0, 15.0, 16.0,
       96.0, 89.0, 93.0, 86.0, 92.0, 91.0, 97.0, '73', '41', '48', '61',
       '69', '25', '38', '30', '45', '80', '54', '60', '62', '28', '24',
       '70', '31', '39', '26', '40', '18', '20', '35', '23', '52', '37',
       '50', '22', '79', '33', '47', '59', '58', '21', '55', '34', '56',
       '19', '68', '65', '29', '53', '49', '57', '43', '27', '36', '74',
       '46', '32', '72', '63', '67', '51', '44', '42', '64', '66', '78',
       '75', '77', '71', '76', 0, '85', '81', '17', '16', '82', '88',
       '86', '84', '87', '90', '91', '83', '96', '89', '92', '98', '93',
       95, 98.0, 100.0], dtype=object)

In [261]:
result['age'] = result['age'].fillna(0)

In [262]:
result['age'].unique()

array([23.0, 21.0, 34.0, 30.0, 44.0, 48.0, 64.0, 38.0, 55.0, 26.0, 57.0,
       40.0, 53.0, 25.0, 36.0, 41.0, 54.0, 33.0, 32.0, 18.0, 68.0, 22.0,
       47.0, 65.0, 37.0, 27.0, 49.0, 42.0, 29.0, 35.0, 62.0, 67.0, 28.0,
       69.0, 45.0, 52.0, 19.0, 20.0, 61.0, 43.0, 66.0, 56.0, 39.0, 78.0,
       46.0, 70.0, 63.0, 60.0, 31.0, 51.0, 94.0, 75.0, 24.0, 71.0, 50.0,
       59.0, 80.0, 87.0, 82.0, 76.0, 79.0, 58.0, 83.0, 73.0, 90.0, 74.0,
       72.0, 84.0, 85.0, 77.0, 0, 81.0, 99.0, 88.0, 17.0, 15.0, 16.0,
       96.0, 89.0, 93.0, 86.0, 92.0, 91.0, 97.0, '73', '41', '48', '61',
       '69', '25', '38', '30', '45', '80', '54', '60', '62', '28', '24',
       '70', '31', '39', '26', '40', '18', '20', '35', '23', '52', '37',
       '50', '22', '79', '33', '47', '59', '58', '21', '55', '34', '56',
       '19', '68', '65', '29', '53', '49', '57', '43', '27', '36', '74',
       '46', '32', '72', '63', '67', '51', '44', '42', '64', '66', '78',
       '75', '77', '71', '76', '85', '81', '17', '16', '82', '88', '86',
       '84', '87', '90', '91', '83', '96', '89', '92', '98', '93', 95,
       98.0, 100.0], dtype=object)

In [316]:
tim = result[['year','country','economic_status','trust_church']]

In [317]:
tim.to_csv('tim_data.csv')

In [264]:
result.age = pd.to_numeric(result.age, errors='coerce')

In [265]:
def cohort_definer(row):
    if row['age'] < 33:
        val = 'young'
    elif row['age'] >= 34 and row['age'] < 64:
        val = 'adult'
    else:
        val = 'senior'
    return val
result['cohort'] = result.apply(cohort_definer, axis=1)

In [266]:
result

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy,cohort
0,1995.0,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0,young
1,1995.0,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0,young
2,1995.0,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0,adult
3,1995.0,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0,young
4,1995.0,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0,adult
...,...,...,...,...,...,...,...,...,...,...
20199,2018.0,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0,young
20200,2018.0,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0,young
20201,2018.0,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0,young
20202,2018.0,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0,adult
20203,2018.0,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0,young

In [269]:
result['cohort'].unique()

array(['young', 'adult', 'senior'], dtype=object)

In [222]:
result1.to_csv('concatenated_data.csv')

#### No need of this section

This is to show what is the problem behind the error raised during concatenationg the dataframes.

In [217]:
#result1['trust_people.1'].value_counts(dropna = False)

In [218]:
#result1['trust_people'].value_counts(dropna = False)

In [219]:
#frames2 = [df1,df2,df3,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21]
#result2 = pd.concat(frames2)

In [220]:
#result2.dropna() # to know which one has more zeroes

In [221]:
#df17

## Adding categorical columns

In [20]:
import pandas as pd
import os #provides functions for interacting with the operating system
import numpy as np 
from matplotlib import pyplot as plt
import seaborn as sns

In [21]:
data = pd.read_csv('concatenated_data.csv')

C:\Users\Rajusath\anaconda3\envs\sathyaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,6,7,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
data.tail()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
451378,20199,2018.0,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0
451379,20200,2018.0,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0
451380,20201,2018.0,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0
451381,20202,2018.0,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0
451382,20203,2018.0,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0

In [24]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1995.0,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0
1,1995.0,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0
2,1995.0,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0
3,1995.0,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0
4,1995.0,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
451378,2018.0,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0
451379,2018.0,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0
451380,2018.0,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0
451381,2018.0,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0
451382,2018.0,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0

In [25]:
data['year'] = data['year'].astype(int)

In [27]:
# to change the year into date time format
data['year'] = data['year'].astype(str) + '-01-01'
data['year'] = pd.to_datetime(data['year'])

In [28]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,0,1995-01-01,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0
1,1,1995-01-01,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0
2,2,1995-01-01,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0
3,3,1995-01-01,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0
4,4,1995-01-01,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0

In [26]:
data.age = pd.to_numeric(data.age, errors='coerce')

In [29]:
data.drop(['Unnamed: 0'], axis=1)

,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy
0,1995-01-01,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0
1,1995-01-01,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0
2,1995-01-01,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0
3,1995-01-01,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0
4,1995-01-01,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
451378,2018-01-01,Venezuela,22.0,2.0,3.0,1.0,4.0,2.0,1.0
451379,2018-01-01,Venezuela,26.0,2.0,4.0,2.0,3.0,2.0,1.0
451380,2018-01-01,Venezuela,23.0,2.0,3.0,1.0,3.0,2.0,3.0
451381,2018-01-01,Venezuela,35.0,1.0,3.0,1.0,2.0,2.0,1.0
451382,2018-01-01,Venezuela,26.0,2.0,2.0,2.0,1.0,1.0,1.0

In [30]:
def cohort_definer(row):
    if row['age'] < 33:
        val = 'young'
    elif row['age'] >= 34 and row['age'] < 64:
        val = 'adult'
    else:
        val = 'senior'
    return val
data['cohort'] = data.apply(cohort_definer, axis=1)

In [31]:
data.trust_church = pd.to_numeric(data.trust_church, errors='coerce')

In [32]:
def trust_notrust(row):
    if row['trust_church'] == 2 or row['trust_church'] == 1:
        val = 'trust'
    elif row['trust_church'] == 3 or row['trust_church'] == 4:
        val = 'no_trust'
    else:
        val = 0
    return val
data['trust_notrust'] = data.apply(trust_notrust, axis=1)

In [33]:
def gender_definer(row):
    if row['gender'] == 2:
        val = 'female'
    elif row['gender'] == 1:
        val = 'male'
    else:
        val = 'n/a'
    return val
data['gender_cat'] = data.apply(gender_definer, axis=1)

In [34]:
def ec_cat(row):
    if row['economic_status'] == 1:
        val = 'very good'
    elif row['economic_status'] == 2:
        val = 'good'
    elif row['economic_status'] == 3:
        val = 'not bad'
    elif row['economic_status'] == 4:
        val = 'bad' 
    elif row['economic_status'] == 5:
        val = 'very bad'    
    else:
        val = 0
    return val
data['economic_status_cat'] = data.apply(ec_cat, axis=1)

In [35]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy,cohort,trust_notrust,gender_cat,economic_status_cat
0,0,1995-01-01,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0,young,trust,male,good
1,1,1995-01-01,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0,young,trust,female,good
2,2,1995-01-01,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0,adult,trust,male,not bad
3,3,1995-01-01,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0,young,trust,female,good
4,4,1995-01-01,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0,adult,trust,female,good

In [37]:
def judiciary(row):
    if row['economic_status'] == 1:
        val = 'very good'
    elif row['economic_status'] == 2:
        val = 'good'
    elif row['economic_status'] == 3:
        val = 'not bad'
    elif row['economic_status'] == 4:
        val = 'bad' 
    elif row['economic_status'] == 5:
        val = 'very bad'    
    else:
        val = 0
    return val
data['trust_judiciary_cat'] = data.apply(judiciary, axis=1)

In [38]:
data.head()

,Unnamed: 0,year,country,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy,cohort,trust_notrust,gender_cat,economic_status_cat,trust_judiciary_cat
0,0,1995-01-01,Chile,23.0,1.0,2.0,2.0,2.0,0.0,1.0,young,trust,male,good,good
1,1,1995-01-01,Chile,21.0,2.0,2.0,2.0,3.0,0.0,2.0,young,trust,female,good,good
2,2,1995-01-01,Chile,34.0,1.0,3.0,2.0,2.0,0.0,1.0,adult,trust,male,not bad,not bad
3,3,1995-01-01,Chile,30.0,2.0,2.0,2.0,2.0,0.0,1.0,young,trust,female,good,good
4,4,1995-01-01,Chile,44.0,2.0,2.0,2.0,2.0,0.0,1.0,adult,trust,female,good,good

In [47]:
data.to_csv('data_all.csv')

In [39]:
data.groupby(['country']).count()

,Unnamed: 0,year,age,gender,economic_status,trust_church,trust_judiciary,trust_people,support_democracy,cohort,trust_notrust,gender_cat,economic_status_cat,trust_judiciary_cat
country,,,,,,,,,,,,,,
Argentina,26383,26383,26378,26379,26378,26076,25852,25942,25644,26383,26383,26383,26383,26383
Bolivia,23356,23356,23346,23356,23356,23057,22459,22750,21931,23356,23356,23356,23356,23356
Brasil,6016,6016,6016,6016,6016,6010,5983,6003,5874,6016,6016,6016,6016,6016
Brazil,19160,19160,19160,19160,19078,18960,18541,18951,16722,19160,19160,19160,19160,19160
Chile,26393,26393,26393,26393,26384,26035,25953,26015,25555,26393,26393,26393,26393,26393
Colombia,25201,25201,25195,25201,25201,25080,24547,24843,23341,25201,25201,25201,25201,25201
Costa Rica,21006,21006,20996,21006,21006,20667,20382,20602,20053,21006,21006,21006,21006,21006
Dominican Rep.,7000,7000,7000,7000,7000,6919,6854,6786,6713,7000,7000,7000,7000,7000
Ecuador,25200,25200,25192,25200,25199,24991,24617,24758,23697,25200,25200,25200,25200,25200
El Salvador,21076,21076,21069,21076,21076,20682,20190,20427,19125,21076,21076,21076,21076,21076
Espana,2459,2459,2459,2459,2459,2459,2459,2459,2459,2459,2459,2459,2459,2459
Guatemala,20998,20998,20998,20998,20998,20394,19681,20067,18425,20998,20998,20998,20998,20998
Honduras,21027,21027,21027,21027,21027,20796,20347,20558,19009,21027,21027,21027,21027,21027
Mexico,26569,26569,26557,26530,26532,26323,26084,26097,25214,26569,26569,26569,26569,26569
Nicaragua,21069,21069,21067,21069,21069,20751,20352,20627,19397,21069,21069,21069,21069,21069
Panama,21078,21078,21078,21078,21078,20784,20328,20387,19542,21078,21078,21078,21078,21078
Paraguay,20341,20341,20339,20341,20327,20182,19949,20102,19733,20341,20341,20341,20341,20341
Peru,25672,25672,25670,25672,25672,25416,25149,24838,23544,25672,25672,25672,25672,25672
Rep.Dominicana,5000,5000,5000,5000,5000,4990,4978,4990,4905,5000,5000,5000,5000,5000
RepÃºblica Dominicana,1000,1000,1000,1000,1000,988,965,948,851,1000,1000,1000,1000,1000
Spain,32289,32289,32262,32289,9815,31450,28565,31158,30980,32289,32289,32289,32289,32289
Uruguay,26390,26390,26387,26390,26340,25752,25533,25842,25637,26390,26390,26390,26390,26390
Venezuela,26700,26700,26700,26700,26700,26438,26220,26152,25841,26700,26700,26700,26700,26700

In [40]:
data.groupby(['year', 'country']).mean()

                           Unnamed: 0        age    gender  economic_status  \
year       country
1995-01-01 Argentina           1839.5  42.631799  1.523411         2.515481
           Brazil              6056.5  34.724167  1.507500         3.025000
           Chile                619.5  39.145161  1.528226         2.824859
           Mexico              3041.5  35.547877  1.503830         2.710368
           Paraguay            3937.0  39.567521  1.579216         2.664921
...                               ...        ...       ...              ...
2018-01-01 Paraguay           15003.5  38.476667  1.500833         2.615833
           Peru               16203.5  39.779167  1.500000         2.800000
           Rep.Dominicana     17303.5  38.936000  1.503000         2.467000
           Uruguay            18403.5  45.790833  1.557500         2.337500
           Venezuela          19603.5  41.398333  1.523333         2.499167

                           trust_church  trust_people
year       country
1995-01-01 Argentina           2.202714      0.000000
           Brazil              1.765494      0.000000
           Chile               1.804419      0.000000
           Mexico              1.950169      0.000000
           Paraguay            1.591549      0.000000
...                                 ...           ...
2018-01-01 Paraguay            1.722222      1.842882
           Peru                2.184902      1.878488
           Rep.Dominicana      1.988889      1.858586
           Uruguay             2.842561      1.791275
           Venezuela           1.954584      1.919831

[374 rows x 6 columns]

In [42]:
s = data.trust_notrust
counts = s.value_counts()
percent = s.value_counts(normalize=True)
percent100 = s.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
pd.DataFrame({'counts': counts, 'per': percent, 'per100': percent100})

          counts       per per100
trust     306665  0.679390  67.9%
no_trust  137144  0.303831  30.4%
0           7574  0.016780   1.7%

In [44]:
data_year_country = data.groupby(['year', 'country','trust_notrust']).count()

In [45]:
data_year_country

                                    Unnamed: 0  age  gender  economic_status  \
year       country   trust_notrust
1995-01-01 Argentina 0                      21   17      17               17
                     no_trust              416  415     416              415
                     trust                 763  763     763              763
           Brazil    0                       6    6       6                6
                     no_trust              308  308     308              308
...                                        ...  ...     ...              ...
2018-01-01 Uruguay   no_trust              705  705     705              705
                     trust                 451  451     451              451
           Venezuela 0                      11   11      11               11
                     no_trust              302  302     302              302
                     trust                 887  887     887              887

                                    trust_church  trust_judiciary  \
year       country   trust_notrust
1995-01-01 Argentina 0                         0                7
                     no_trust                416              408
                     trust                   763              732
           Brazil    0                         0                5
                     no_trust                308              295
...                                          ...              ...
2018-01-01 Uruguay   no_trust                705              682
                     trust                   451              432
           Venezuela 0                         0                6
                     no_trust                302              296
                     trust                   887              873

                                    trust_people  support_democracy  cohort  \
year       country   trust_notrust
1995-01-01 Argentina 0                        21                 13      21
                     no_trust                416                386     416
                     trust                   763                708     763
           Brazil    0                         6                  3       6
                     no_trust                308                275     308
...                                          ...                ...     ...
2018-01-01 Uruguay   no_trust                687                668     705
                     trust                   439                419     451
           Venezuela 0                        10                 11      11
                     no_trust                300                288     302
                     trust                   875                842     887

                                    gender_cat  economic_status_cat  \
year       country   trust_notrust
1995-01-01 Argentina 0                      21                   21
                     no_trust              416                  416
                     trust                 763                  763
           Brazil    0                       6                    6
                     no_trust              308                  308
...                                        ...                  ...
2018-01-01 Uruguay   no_trust              705                  705
                     trust                 451                  451
           Venezuela 0                      11                   11
                     no_trust              302                  302
                     trust                 887                  887

                                    trust_judiciary_cat
year       country   trust_notrust
1995-01-01 Argentina 0                               21
                     no_trust                       416
                     trust                          763
           Brazil    0                                6
                     no_trust                       308
...                                                 ...
2018-01-01 Uruguay   no_trust                       705
                     trust                          451
           Venezuela 0                               11
                     no_trust                       302
                     trust                          887

[1118 rows x 12 columns]